<div class="container">
  <div class="card">
    <div class="card-header text-white bg-info">
      Formulaire Reactive
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body">
      <form (ngSubmit)="test()" novalidate [formGroup]="infoForm">
        <div class="row">
          <div class="col-md-6">
            <label>Nom</label>
            <input type="text" class="form-control"
            formControlName="nom" placeholder="Votre Nom"
            [ngClass]="{'is-invalid':this.infoForm.get('nom').touched && !this.infoForm.get('nom').valid}">
          
            <div class="invalid-feedback" *ngIf="this.infoForm.get('nom').errors">
              <span *ngIf="this.infoForm.get('nom').errors?.required">
                le nom ne doit pas etre vide
              </span>
              <span *ngIf="this.infoForm.get('nom').errors?.minimum">le nom doit etre minimum 3 caracteres</span>
            </div>
          </div>
          <div class="col-md-6">
            <label>Prenom</label>
            <input type="text" class="form-control"
            formControlName="prenom" placeholder="Votre Prenom" 
            [ngClass]="{'is-invalid': this.infoForm.get('prenom').touched && !this.infoForm.get('prenom').valid}">
            <div class="invalid-feedback" *ngIf="this.infoForm.get('prenom').errors">
              <span *ngIf="this.infoForm.get('prenom').errors?.required">
                le prenom ne doit pas etre vide
              </span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6" *ngIf="choice1==false">
            <label for="">Adresse</label>
            <input type="email" class="form-control" 
            formControlName="adresse" placeholder="Votre Adresse"
            [ngClass]="{'is-invalid':this.infoForm.get('adresse').touched && !this.infoForm.get('adresse').valid}">
            <div class="invalid-feedback" *ngIf="this.infoForm.get('adresse').errors">
              <span *ngIf="this.infoForm.get('adresse').errors?.required"> 
                l'adresse est obligatoire
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Telephone</label>
            <input type="text" class="form-control" 
            formControlName="telephone" placeholder="Votre Telephone"
            [ngClass]="{'is-invalid':this.infoForm.get('telephone').touched && !this.infoForm.get('telephone').valid}">
            <div class="invalid-feedback" *ngIf="this.infoForm.get('telephone').errors">
              <span *ngIf="this.infoForm.get('telephone').errors?.required">Verifier votre telephone</span>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6" *ngIf="choice1==true">
            <label for="">Boite Postal</label>
            <input type="text" class="form-control" formControlName="postal" placeholder="Votre Code Postal">
          </div>
          <div class="col-md-6">
            <label for="">
              Choisir methode d'envoi
            </label>
              <div class="col-md-8">
                <div class="form-check form-check-inline">
                  <label class="form-check-label" for="">
                    <input type="radio" value="email" class="form-check-input" 
                    formControlName="choice" (change)="choiceEnvoi(this.infoForm.get('choice').value)">
                    Adresse
                  </label>
                </div>
                <div class="form-check-inline form-check-inline">
                  <label class="form-check-label">
                    <input type="radio"  value="boite" class="form-check-input" 
                    formControlName="choice" (change)="choiceEnvoi(this.infoForm.get('choice').value)">
                    Boite Postal
                  </label>  
                </div>  
              </div>
            
          </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- <button class="btn btn-primary me-md-2" type="button">Button</button> -->
          <button class="btn btn-info mt-3" type="submit">Tester</button>
          <!-- <input type="date" max='2000-13-13' /> -->
        </div>
      </form>
    </div>
  </div>
  

</div>